body{
    font-family: 'Lato', sans-serif;
    padding: 5px 250px;
    background-color:#7e7e7e ;
}
.sub_body{
    background-color:#ffffff ;
}
.inner_sub_body{
    padding: 0 20px ;
}
.first_div{
    background-color:#052e55;
    
}
.col_1{
    padding: 10px 15px;
}
.profile{
    height:150px;
    width:150px ;
    border-radius: 50%;
    background-color: #fff;
}
h1{
    line-height:8px;
    color: #ffffff; 
}
h2{
    color: #003973; 
}
.head_bg{

    border-radius: 5px;
}
.Sec_col{
    padding:0 25px;

}
.checked {
    color: orange;
}
.center-table i{
    color: #003973; 
    margin: 6px 12px;
}
.center-table a{
    text-decoration: none;
    color: #000000; 
}
.btn{
    width: 80px;
    padding: 5px;
    background-color: #003973; 
    color: #ffffff; 
    border-radius: 5px;
    border: 2px solid #ffffff;
}
.btn:hover{
    background-color: #ffffff; 
    color: #003973; 
    border: 2px solid #003973;
    font-weight: 600;
}
hr{
    border: 1px solid #c0c0c08c;
    border-radius: 30px;
}